@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/FontAwesome.otf');
	font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    color: #363d49;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.fa-calendar-o:before {
    content: "\f133";
}

.fa-filter:before {
    content: "\f0b0";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-bar-chart:before {
    content:"\f080";
}

.fa-line-chart:before {
    content:"\f201";
}

.fa-cog:before {
    content: "\f013";
}

.fa-user:before {
    content: "\f007";
}

.fa-question-circle:before{
    content: "\f059";
}

.fa-download:before {
    content: "\f019";
}

.fa-plus:before {
    content: "\f067";
}

.fa-search:before   {
    content: "\f002";
}

.fa-th-large:before {
    content: "\f009";
}

.fa-list:before {
    content: "\f03a";
}

.fa-caret-square-o-right:before {
    content: "\f152";
}

.fa-caret-square-o-down:before {
    content: "\f150";
}

.fa-ellipsis-h:before {
    content: "\f141";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-crosshairs:before {
    content: "\f05b";
}

.fa-pencil:before {
    content: "\f040";
}

.fa-archive:before {
    content: "\f187";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-times-circle:before {
    content: "\f057";
}

.fa-check:before {
    content: "\f00c";
}

.fa-chevron-circle-left:before {
    content: "\f137";
}

.fa-chevron-circle-right:before {
    content: "\f138";
}

.fa-pause:before {
    content: "\f04c";
}

.fa-play-circle:before {
    content: "\f144";
}

.fa-clone:before {
    content: "\f24d";
}

.fa-film:before {
    content: "\f008";
}

.fa-tv:before {
    content: "\f26c";
}

.fa-desktop:before {
    content: "\f108";
}

.fa-tablet:before {
    content: "\f10a";
}

.fa-mobile:before {
    content: "\f10b";
}

.fa-image:before {
    content: "\f03e";
}

.fa-share-alt:before {
    content: "\f1e0";
}

/******************* General Styling *********************/

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}

.headings {
    width: 100%;  
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.headings h4 {
    float: left;
    text-align: center;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.iconContainer {
    width: 99.75%;
    border: 1px solid #eee;
    overflow: hidden;
    border-top: none;
}

.vistoIcons {
    width: 49.8%;
    float: left;
    text-align: center;
    border-right: 1px solid #eee;
    padding: 15px 0;
}

.fontAwesomeIcons {
    width: 50%;
    float: left;
    text-align: center;
    padding: 15px 0;
}

.clear {
    clear: both;
}
